@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-100 dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  scroll-behavior: smooth;
}

:focus-visible {
  outline: none; 
  box-shadow: 0 0 0 4px #91cf0b; 
  border-radius: 0.375rem; 
  outline-offset: 2px; 
}
